[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
asttokens = "*"
backcall = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
colorama = "*"
decorator = "*"
distlib = "*"
dj-database-url = "*"
django = "*"
django-debug-toolbar = "*"
django-heroku = "*"
django-storages = "*"
et-xmlfile = "*"
executing = "*"
factory-boy = "*"
faker = "*"
filelock = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jedi = "*"
jmespath = "*"
matplotlib-inline = "*"
mccabe = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
parso = "*"
pickleshare = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
prompt-toolkit = "*"
psycopg2 = "*"
pure-eval = "*"
pycodestyle = "*"
pyflakes = "*"
pygments = "*"
pymysql = "*"
python-dateutil = "*"
python-decouple = "*"
pytz = "*"
s3transfer = "*"
sentry-sdk = "*"
six = "*"
sqlparse = "*"
stack-data = "*"
traitlets = "*"
tzdata = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
wcwidth = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
