asgiref
asttokens
backcall
boto3
botocore
certifi
colorama
decorator
distlib
dj-database-url
Django
django-debug-toolbar
django-heroku
django-storages
et-xmlfile
executing
factory-boy
Faker
filelock
flake8
ipython
isort
jedi
jmespath
matplotl-inline
mccabe
numpy
openpyxl
pandas
parso
pickleshare
Pillow
pipenv
platformdirs
prompt-toolkit
psycopg2
pure-eval
pycodestyle
pyflakes
Pygments
PyMySQL
python-dateutil
python-decouple
pytz
s3transfer
sentry-sdk
six
sqlparse
stack-data
traitlets
tzdata
urllib3
virtualenv
virtualenv-clone
wcwidth
whitenoise
