<div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Tenants</h6>
        </div>
        <div class="card-body">
            {% if tenants %}
            <div class="table-responsive">
                <table class="table table-outline table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Property</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for tenant in tenants %}
                            <tr>
                                <td>{{ tenant.id }}</td>
                                <td>{{ tenant.tenant_name.upper }}</td>
                                <td>{{ tenant.current_property.property_name.upper }}</td>
                                <td><a class="btn btn-user btn-secondary btn-sm"
                                       href="{% url 'tenants:info' tenant.id %}">View</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-right m-r-20">
                  {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a class="badge badge-inverse-primary" href="?page=1" data-toggle="tooltip" data-placement="top"
                           data-trigger="hover" title="First Page">First</a>
                        <a class="badge badge-inverse-primary" href="?page={{ page_obj.previous_page_number }}"
                           data-toggle="tooltip" data-placement="top" data-trigger="hover"
                           title="Previous Page">Previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                        <a class="badge badge-primary" style="color: white !important;" href="?page={{ num }}"
                           data-toggle="tooltip" data-placement="top" data-trigger="hover"
                           title="Page {{ num }}">{{ num }}</a>
                      {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                        <a class="badge badge-inverse-primary" href="?page={{ num }}"
                           data-toggle="tooltip" data-placement="top" data-trigger="hover"
                           title="Page {{ num }}">{{ num }}</a>
                      {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="badge badge-inverse-primary" href="?page={{ page_obj.next_page_number }}"
                           data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Next Page">Next</a>
                        <a class="badge badge-inverse-primary" href="?page={{ page_obj.paginator.num_pages }}"
                           data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Last Page">Last</a>
                    {% endif %}

                  {% endif %}
                  <a href="{% url 'my_admin:dashboard' %}" class="b-b-primary text-primary">Back To Dashboard</a>
                </div>
            </div>
            {% else %}
            <h6 class="m-0 font-weight-bold text-primary text-center">
                        No tenants to Display</h6>
            {% endif %}
        </div>
    </div>
</div>
