{% extends 'layout/blank.html' %}

{% block title %}Update User Profile{% endblock title %}

{% block sidebar %}
{% include 'includes/_admin_sidebar.html' %}
{% endblock %}

{% block topbar %}
{% include 'includes/_topbar.html' %}
{% endblock %}

{% block page_heading %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Hello, {{ request.user.last_name.capitalize }} {{ request.user.first_name.capitalize }}</h1>
    <a href="{% url 'accounts:profile' %}">
    <h6 class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back to Profile</h6></a>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <!-- Profile Display Form -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Update Primary Details</h6>
            </div>
            <div class="card-body">
                <div class="p-5">
                    <form action="{% url 'accounts:profile_update' %}" class="user" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value='1' name="formId">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">First Name</label>
                                    {{ u_form.first_name }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Last Name</label>
                                    {{ u_form.last_name }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Username</label>
                                    {{ u_form.username }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Email</label>
                                    {{ u_form.email }}
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-user btn-block" type="submit">Update Details</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Profile -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Profile Picture</h6>
            </div>
            <div class="card-body">
                <img src="{{ request.user.profile.image.url }}" class="img-fluid img-square" alt="Profile Image">
                <div class="my-2">
                    <form class="user" method="POST" action="{% url 'accounts:profile_update' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value='2' name="formId">
                        <div class="form-group">
                          {{ p_form.image }}
                        </div>
                        <button class="btn btn-primary btn-user btn-block" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}