{% extends 'layout/blank.html' %}

{% block title %}Search{% endblock title %}

{% block sidebar %}
{% include 'includes/_admin_sidebar.html' %}
{% endblock %}

{% block topbar %}
{% include 'includes/_topbar.html' %}
{% endblock %}

{% block page_heading %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Search</h1>
    <a href="{% url 'rentals:all' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> View All Rentals
    </a>
</div>
{% endblock %}

{% block content %}
{% if count == 0 %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary text-center">No Results Found</h4>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                {% if messages %}
                    {% for message in messages %}
                        <h5 class="text-center {{ messages.tags }} animate__animated animate__fadeIn animate__delay-3s">{{ message }}</h5>
                    {% endfor %}
                  {% endif %}
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Your Searched for: {{ query }}</h6>
            </div>
            <div class="card-block tab-icon">
              <ul class="nav nav-tabs md-tabs " role="tablist">
                   <li class="nav-item">
                        <form action="{% url 'my_admin:search' %}" method="GET">
                                <input type="text" name="q" hidden="true" class="form-control bg-light border-0 small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2" value="{{ query }}">
                                <button class="nav-link active text-primary" type="submit"><i
                                        class="icofont icofont-ui-user "></i>All</button>
                                <div class="slide"></div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'my_admin:search_landlord' %}" method="GET">
                                <input type="text" name="q" hidden="true" class="form-control bg-light border-0 small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2" value="{{ query }}">
                                <button class="nav-link active text-primary" type="submit"><i
                                        class="icofont icofont-ui-user "></i>Landlords</button>
                                <div class="slide"></div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'my_admin:search_property' %}" method="GET">
                                <input type="text" name="q" hidden="true" class="form-control bg-light border-0 small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2" value="{{ query }}">
                                <button class="nav-link active text-primary" type="submit"><i
                                        class="icofont icofont-ui-user "></i>Properties</button>
                                <div class="slide"></div>
                        </form>
                    </li>
                   <li class="nav-item">
                        <form action="{% url 'my_admin:search_tenant' %}" method="GET">
                                <input type="text" name="q" hidden="true" class="form-control bg-light border-0 small" placeholder="Search for..."
                                    aria-label="Search" aria-describedby="basic-addon2" value="{{ query }}">
                                <button class="nav-link active text-primary" type="submit"><i
                                        class="icofont icofont-ui-user "></i>Tenants</button>
                                <div class="slide"></div>
                        </form>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content card-block">
                    <div class="tab-pane active" id="landlord" role="tabpanel">
                      <div class="card">
                        <div class="card-header">
                          <h5>Landlords</h5>
                        </div>
                        <div class="card-block">
                            {% if landlord_count > 0 %}
                                <div class="table-responsive">
                                    <table class="table table-outline table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for landlord in landlords %}
                                                <tr>
                                                    <td>{{ landlord.id }}</td>
                                                    <td>{{ landlord.landlord_name.upper }}</td>
                                                    <td><a class="btn btn-user btn-secondary btn-sm"
                                                           href="{% url 'landlords:dashboard' landlord.id %}">View</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                            <h4 class="m-0 font-weight-bold text-primary text-center">No Landlord Match</h4>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

