{% extends 'layout/blank.html' %}

{% block title %}Landlord Dashboard{% endblock title %}

{% block sidebar %}
{% include 'includes/_admin_sidebar.html' %}
{% endblock %}

{% block topbar %}
{% include 'includes/_topbar.html' %}
{% endblock %}

{% block page_heading %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ landlord.landlord_name }}</h1>
    <a href="{% url 'landlords:all' %}" class="d-none d-sm-inline-block b-b-primary text-primary">All Landlords</a>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <!-- Display Notice if the Landlord doesn't have any property registered yet -->
    {% if prop_count < 1 %}
     <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">No Registered Property</h6>
                </div>
            </div>
     </div>
    {% else %}
    <!-- Display each property owned by the landlord in a separate card -->
    {% for property in properties %}
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold text-primary">{{ property.property_name }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-subtitle">
                        <h6 class="m-0 text-secondary">Address: <strong>{{ property.address }}</strong></h6>
                    </div>
                    <div class="p-5">
                        <div class="table-responsive">
                            <table class="table table-outline table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Current Tenant(s)</th>
                                        <th>Period</th>
                                        <th>Rent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rental in rentals %}
                                        {% if rental.property == property %}
                                        <tr>
                                            <td>{{ rental.tenant.tenant_name }}</td>
                                            <td>{{ rental.date_started }} - {{ rental.date_ending }}</td>
                                            <td>N {{ rental.rental_amount }}</td>
                                            <td><a class="btn btn-user btn-secondary btn-sm"
                                                   href="">View</a></td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
