<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            {% if messages %}
                {% for message in messages %}
                    <h5 class="text-center {{ messages.tags }} animate__animated
                    animate__fadeIn animate__delay-3s">{{ message }}</h5>
                {% endfor %}
            {% endif %}
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Register Rental Agreement</h6>
            </div>
            <div class="card-body">
                <div class="p-5">
                    <form action="{% url 'rentals:new' %}" class="user" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Select Property</label>
                                    {{ form.property }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Select Tenant</label>
                                    {{ form.tenant }}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Rental Amount <strong>(N)</strong></label>
                                    {{ form.rental_amount }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Period Start</label>
                                    {{ form.date_started }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Period End</label>
                                    {{ form.date_ending }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Proposed Use (optional)</label>
                                    {{ form.proposed_use }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-bar"></span>
                                    <label class="float-label text-primary">Agreement Length (optional)</label>
                                    {{ form.agreement_duration }}
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-user btn-block" type="submit">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>