{% extends 'layout/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block sidebar %}
{% include 'includes/_admin_sidebar.html' %}
{% endblock %}

{% block topbar %}
{% include 'includes/_topbar.html' %}
{% endblock %}

{% block page_heading %}
{% include 'includes/_page_heading.html' %}
{% endblock %}

{% block counters %}
{% include 'includes/_counters.html' %}
{% endblock %}

{% block card_row_1 %}
{% include 'includes/_cardrow_1.html' %}
{% endblock %}

{% block modals %}
{% include 'includes/_reg_modals.html' %}
{% endblock %}